.gradient-custom {
    /* fallback for old browsers */
    background: #a3b87f;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(186, 171, 202), rgb(216, 252, 37));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(96, 87, 105), rgb(170, 252, 37))
    }