<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h2>Contact</h2>
        <p>I can be reached at LinkedIn:</p>
        <p><b>https://www.linkedin.com/in/phanindra-sangers-0225a516a/</b></p>
        <P> Feel Free to connect with me on any of the Following Platforms:</P>
    </div>
    <div class="list-group shadow">
        <a href="https://www.linkedin.com/in/phanindra-sangers-0225a516a/" target="_blank" class="list-group-item list-group-item-action d-lex gap-3 py-3">
            <img src="../../assets/linkedin.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5" alt="">
            <h3 class="mb-0">linked In</h3>
        </a>
 
        <a href="https://medium.com/@phanindra.sangers" target="_blank" class="list-group-item list-group-item-action d-lex gap-3 py-3">
            <img src="../../assets/medium.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5" alt="">
            <h3 class="mb-0">Medium</h3>
        </a>
        <a href="https://www.instagram.com/phanindra_sangers/" target="_blank" class="list-group-item list-group-item-action d-lex gap-3 py-3">
            <img src="../../assets/insta.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5" alt="">
            <h3 class="mb-0">Instagram</h3>
        </a>
        <a href="https://www.youtube.com/channel/UCuFurYK-qW0bncEMzeoNaUg" target="_blank" class="list-group-item list-group-item-action d-lex gap-3 py-3">
            <img src="../../assets/youtube.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5" alt="">
            <h3 class="mb-0">youtube</h3>
        </a>
        <a href="https://github.com/Phanindra-Sangers/" target="_blank" class="list-group-item list-group-item-action d-lex gap-3 py-3">
            <img src="../../assets/github.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5" alt="">
            <h3 class="mb-0">Github</h3>
        </a>
    </div>
</div>