<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Downloand PDF Resume</button>
    
    <div class="pb-2"></div>
    <accordion [isAnimated]="true" class="shadow">
        <accordion-group heading="Work Experience">
            <div style="text-align: left;">
               <h2 class="mb-0" >Associate DevOps Engineer in Minfy Technologies</h2>
               <br>
               <ul>
                <li>OverAll 2 Yrs 6 Months of Experience in Software Feild.</li>
              </ul>
               <ul>
                 <li>1 Yr 6 Months Experince in TCS as Automotive Engineer.</li>
               </ul>
               <ul>
                <li>1 Yr 1 Month Months Experience in MinfyTechnologies as Assocaite Devops Enginner.</li>
               </ul>
            </div>

        </accordion-group>

        <accordion-group heading="Education">

            <div style="text-align: left">
                <h2 class="mb-0">Bachelors of Technologies in Electronics</h2>
                <br>
                <ul>
                    <li>Graduated From KITS Warangal in 2021 </li>
                    <li>Graduated With a 8.9 GPA</li>
                    <li>Participated in Extra Cicular Activities Such as VolleyBall District Level</li>
                </ul>
            </div>

        </accordion-group>

        <accordion-group heading="Certifications">
            <div style="text-align: left;">
                <h5>
                    Certified Kubernetes Application Developer - CKAD
                </h5>
                <h5>
                    AWS Solution Architect Associate
                </h5>
                <h5>
                    Azure Fundamentals AZ-900
                </h5>
                <h5>
                    Hashicorp Certified Terraform Associate 
                </h5>
                <h5>
                    Hashicorp Certified Vault Associate 
                </h5>
                <h5>
                    Hashicorp Certified Consul Associate 
                </h5>
            </div>

        </accordion-group>

        <accordion-group heading="Skills">
            <div class="row" style="text-align: left;">
            <div class="col">
                <h3>Programming Languages: </h3>
                <ul>
                    <li> C </li>
                    <li> C++ </li>
                    <li> Python</li>
                </ul>
            </div>
            <div class="col">
                <h3>Cloud Platforms:</h3>
                <ul>
                    <li> AWS </li>
                    <li> Azure </li>
                </ul>
            </div>
            <div class="col">
                <h3>Automation Tools:</h3>
                <ul>
                    <li> Terraform</li>
                    <li> Cloud Formation </li>
                    <li> Ansible</li>
                </ul>
            </div>
            <div class="col">
                <h3>Container Tools: </h3>
                <ul>
                    <li> Docker</li>
                    <li> POdman </li>

                </ul>
                
            </div>
            <div class="col">
                <h3>Container Orcherstation Tools: </h3>
                <ul>
                    <li> Docker Swarm  </li>
                    <li> ECS </li>
                    <li> Kubernetes</li> 
                </ul>
            </div>
            <div class="col">
                <h3>Observability: </h3>
                <ul>
                    <li> AWS X-Ray </li>
                    <li> Prometheus</li>
                    <li> Grafana</li>
                </ul>
            </div>
            </div>

        </accordion-group>
    </accordion>
</div>