<div class="container">
    <div class="row" >
    <!-- Aout Me  -->
    <div class="col-lg shadow border m-1" >
         <div class="text-center">
            <h2>About Me</h2>
            <img src="../../assets/goku.png" alt="profile-pic" width="256" height="256" class="rounded-circle">
            <p> I am Phanindra Sangers i'm and Associate DevOps Engineer Currently Working in Minfy Tech Pvt Ltd 
                Intrested in Cloud Technologies  and Application Developement && modernization
                I Love to contribute in Open Community. 

            </p> 
        </div>
    </div>
    <!-- Projects  -->
    <div class="col-lg shadow border m-1">
        <div class="text-center">
           <h2>Projects</h2>
           <h4>{{featuredProject.name}}</h4>
        </div>

        <carousel>
            <div *ngFor="let picture of featuredProject.pictures">
                 <slide><img src={{picture}} alt="slide" style="display: block; width: 100%;"></slide>
            </div>
          </carousel>
        <p class="mt-2">{{featuredProject.summary}}</p>
        <p>Visit the Projects Section to learn more!</p>

   </div>
    
    </div>

</div>
